body {
  background: rgb(204,204,204); 
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="Letter"] {
  background: white;
  width: 215.9mm;
  height: 279.4mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"], page[size="Letter"] {
    margin: 0;
    box-shadow: 0;
  }

  .pageMarginTop{
      margin-top: 50px !important;
  }

}

.marginTop{
    margin-top: 10px;
}

.borderA{
    border: 1px solid black;
}

.titleColor{
    color: rgb(0, 0, 0);
    font-weight:bold;
}

.valueColor{
    color: blue;
}

.textBold{
    font-weight: bold;
}

.fixedHeight{
    height: 150px;
}

.borderBottom{
    border-bottom: 1px solid black;
}

.underLine{
    text-decoration: underline;
}

.customImg{
    max-height: 125px;
}

.galleryMaxHeight{
    max-height: 125px;
}

.cLogo{
    width: 70px;

}

.pageMarginTop{
    margin-top: 50px;
}

.comment{
    height: 100px;
}

.biggerFont{
    font-size: 20px;
}