<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://roadinspection.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>roadinspection.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>roadinspection</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$roadinspection</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:d8fx7wpavu.database.windows.net,1433;Initial Catalog=roadinspection_db;User ID=woodlandstest@d8fx7wpavu;Password=!whr8288680" Name="Data Source=tcp:d8fx7wpavu.database.windows.net,1433;Initial Catalog=roadinspection_db;User Id=woodlandstest@d8fx7wpavu;Password=!whr8288680" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="wn_web.Models.ApplicationDbContext, wn_RoadInspection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="wn_webContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:d8fx7wpavu.database.windows.net,1433;Initial Catalog=roadinspection_db;User ID=woodlandstest@d8fx7wpavu;Password=!whr8288680" Name="Data Source=tcp:d8fx7wpavu.database.windows.net,1433;Initial Catalog=roadinspection_db;User Id=woodlandstest@d8fx7wpavu;Password=!whr8288680" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="wn_web.Models.wn_webContext, wn_RoadInspection" MigrationConfiguration="wn_RoadInspection.Migrations.Configuration, wn_RoadInspection" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:d8fx7wpavu.database.windows.net,1433;Initial Catalog=roadinspection_db;User Id=woodlandstest@d8fx7wpavu;Password=!whr8288680</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wn_webContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:d8fx7wpavu.database.windows.net,1433;Initial Catalog=roadinspection_db;User Id=woodlandstest@d8fx7wpavu;Password=!whr8288680</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>