@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Woodlands North</h3>

<address>
    Whitecourt Office<br />
    4012 – 41st Ave<br />
    Whitecourt, Alberta<br />
    T7S – 0A9<br />
    <abbr title="Phone">P:</abbr>
    780.706.2188
</address>
<a href="http://goo.gl/maps/3839g" target="_Blank">Click here to view a map to the Whitecourt office</a><br />
<a href="http://www.woodlandsnorth.co/wp-content/uploads/Woodlands-Whitecourt-Office.pdf" target="_blank">Download a map to the Whitecourt office</a><br /><br />

<address>
    Edmonton Office<br />
    Santa Fe Business Park<br />
    18136 – 102 Ave<br />
    Edmonton, Alberta<br />
    T5S – 1S7<br />
    <abbr title="Phone">P:</abbr>
    780.488.1945
</address>
<a href="http://goo.gl/maps/M4YvM" target="_blank">Click here to view a map to the Edmonton office</a><br />
<a href="http://www.woodlandsnorth.co/wp-content/uploads/Woodlands-Edmonton-Office-2.pdf" target="_blank">Download a map to the Edmonton office</a><br /><br />


<address>
    <strong>Email:</strong>   <a href="mailto:info@woodlandsnorth.co">info@woodlandsnorth.co</a><br />
</address>