
@{
    ViewBag.Title = "Index";
}

<h2>Desktop Review</h2>

<div class="row">
    <div class="col-md-6">
        <h3>
            <a href="/reviewsites/create">Create a new site ID</a>
        </h3>
        <p>(If the site ID is not in database, you need to create one.)</p>
    </div>



    <div class="col-md-6">
        <h3>
            <a href="/desktopreviews/create">Select an existing site ID</a>
        </h3>
        <p>(If the site ID is already in database, you can go here and select the site ID)</p>
    </div>
</div>

