
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
    <link href="~/Content/print.css" rel="stylesheet" />
</head>
<body>
    <page size="Letter">
        <div class="row">
            <div class="col-md-12">
                <h1>Site Visit Report</h1>
                <h2>@ViewBag.report.ReviewSiteID</h2>
            </div>

        </div>

    </page>

    <page size="Letter">
        <div class="row">
            <div class="col-md-12">
                <h1>Page 2</h1>
            </div>


        </div>

    </page>

    <page size="Letter">
        <div class="row">
            <div class="col-md-12">
                <h1>Page 3</h1>
            </div>
        </div>
    </page>
</body>
</html>
